@using katano.Presentations.ViewModels
@* 
    リスト4-3 Razor構文の利用 
*@

@model List<EmployeeSearchViewModel> // SampleFormのリストをModelとして受け取る（型を明示）
@{
    ViewData["Title"] = "社員一覧"; // ページタイトルをViewDataに設定
}

<h2>@ViewData["Title"]</h2> <!-- タイトルをHTMLの見出しとして表示 -->

<!-- 表形式で一覧を表示 -->
<table class="table table-bordered"> <!-- Bootstrapのスタイルを適用した表 -->
    <thead> <!-- 表のヘッダー -->
        <tr> <!-- ヘッダー行 -->
            <th>社員番号</th>
            <th>氏名</th> <!-- 氏名列のヘッダー -->
            <th>部署名</th> <!-- 年齢列のヘッダー -->
        </tr>
    </thead>
    <tbody> <!-- 表の本体 -->
        @foreach (EmployeeSearchViewModel employee in Model) // 受け取ったリストを1件ずつ処理
        {
            <tr> <!-- データ行 -->
                <td>@employee.EmpId</td>
                <td>@employee.Name</td> <!-- 氏名を表示 -->
                <td>@employee.DeptName</td>  <!-- 年齢を表示 -->
            </tr>
        }
    </tbody>
</table>